.container
  .row
    .span6
      .hero-unit
        = link_to "按店铺查询", venues_home_index_path
    .span6
      .hero-unit
        = link_to "按服务查询", services_home_index_path
  .hero-unit
    %p= image_tag "home.jpeg"