.container
  - unless @current_company.nil?
    .row
      - unless @current_company.venues.blank?
        .span5
          .hero-unit
            = link_to "按门店查询", venues_home_index_path 
      - unless @current_company.service_menus.blank?
        .span5
          .hero-unit
            = link_to "按服务查询", services_home_index_path
  - else
    %h3 等待管理员设置
  .hero-unit
    - if @current_company.nil? or  @current_company.avatar.url.nil?
      %h3 欢迎访问~下单么~服务平台
    - else
      %center= image_tag @current_company.avatar.url       