.container
  - unless @current_company.nil?
    .row
      - unless @current_company.venues.blank?
        .span6
          .hero-unit
            = link_to "按店铺查询", venues_home_index_path 
      - unless @current_company.service_menus.blank?
        .span6
          .hero-unit
            = link_to "按服务查询", services_home_index_path

  .hero-unit
    - unless @current_company.nil?   
      %center= image_tag @current_company.avatar.url unless @current_company.avatar.url.nil?
    - else
      %h3 欢迎访问下单啦服务平台