%h1 
  查看服务
.row-fluid
  %ul.nav.nav-pills
    %li= link_to "还原", services_home_index_path, class: "btn btn-large"
    - @services.each do |service|
      %li= link_to service.service_name, services_home_index_path(service: service), class: "btn btn-large"
= render "girls_list"


