%div{:class => "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      %a.brand{href: root_path}
        <h1>首页</h1>

#alert-bar.navbar.navbar-static-top
  - unless notice.nil?      
    .alert.alert-block= notice
  -unless alert.nil?
    .alert.alert-error= alert
