%div{:class => "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      %a.brand{href: root_path}
        %h1 首页
      %ul{ class: "nav pull-righ", role: "navigation" }
        %li{ id: "fat-menu", class: "dropdwon"}
          %a{ :class => "dropdown-toggle", "data-toggle" => "dropdown", :href => '#', role: "button", id: "drop-shop" }
            %h1 选择分店
          %ul{ class: "dropdown-menu", role: "menu", "aria-labelledby" => "drop-shop" }
            - @venues.each do |venue|
              %li{ role: "presentation" } 
                %a{ href: "/home?venue_id=#{venue.id}" }
                  %h1= venue.name
#alert-bar.navbar.navbar-static-top
  - unless notice.nil?      
    .alert.alert-block= notice
  -unless alert.nil?
    .alert.alert-error= alert
